* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: blue;
}

#cell-container {
  width: 200px;
  height: 200px;
  background-color: orange;
  display: grid;
  /* grid-template-columns: repeat(3, auto); */
}
.cell {
  /* background-color: red; */
  border: 1px solid red;
}
